Dockerfile
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.docker/data
.bash_history
.composer
.docker
api
src-node/node_modules
.editorconfig
/storage/database/database.sqlite